{% extends "app/base.html" %}
{% load static %}
{% block title %} Change Password {% endblock title %}
{% block main-content %}
<br>
<br>
<br>
<br>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Changed Successfully</title>
    <!-- Redirect to login page after 6 seconds -->
    <meta http-equiv="refresh" content="6; url={% url 'login' %}">
</head>
<body>
    <div class="col-sm-9 offset-sm-1 text-center">
    <h1>Password Changed Successfully!</h1>
        <div>
            <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe>
        </div>

    <p>You will be redirected to the login page in a couple of seconds.</p>
    <p>If you are not redirected, <a href="{% url 'login' %}">click here to go to the login page</a></p>

    </div>
    
</body>
</html>

<br>
<br>

{% endblock main-content %}